table {
    border-collapse: collapse;
    width: 70%;
}

.login {
    margin: 100px auto;
    width: 400px;
    padding: 10px;
    border: 6px solid #ccc;
    border-color: bisque;
    background: lightblue;
}

.text-header {
    text-align: center;
}

.desain {
    text-align: center;
}

.btn1 {
    font-size: medium;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(131, 229, 229);
}

.btn2 {
    font-size: medium;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(131, 229, 229);
}

.btn3 {
    font-size: medium;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(131, 229, 229);
}

.table2 {
    text-align: center;
    border-collapse: collapse;
    width: 200px;
    background-color: pink;
}

.btn4 {
    font-size: medium;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(131, 229, 229);
}

.btn5 {
    font-size: medium;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(131, 229, 229);
}

.pinjam {
    text-align: center;
    border-collapse: collapse;
    width: 100px;
    background-color: pink;
}

.btn6 {
    text-align: center;
}